@media (prefers-color-scheme: dark) {

  :root {
    --page-bg: #000028 url('../images/cover-image-dark.png');
    --accent-color: #FF0070;
    --button-effect-color: rgb(255 0 112 / .4);
    --page-title-color: #DB00FF;
    --title-decor-bg-color: var(--accent-color);
    --title-decor-font-color: #000028;
    --content-text-color: #F1B2CE;
    --content-link-shadow-color: var(--accent-color);
  }
}

.page.theme_dark {
    --page-bg: #000028 url('../images/cover-image-dark.png');
    --accent-color: #FF0070;
    --button-effect-color: rgb(255 0 112 / .4);
    --page-title-color: #DB00FF;
    --title-decor-bg-color: var(--accent-color);
    --title-decor-font-color: #000028;
    --content-text-color: #F1B2CE;
    --content-link-shadow-color: var(--accent-color);
}
