@media (prefers-color-scheme: light) {

  :root {
    --page-bg: #FFF1F7 url('../images/cover-image-light.png');
    --accent-color: #353430;
    --button-effect-color: rgb(50 49 45 / .4);
    --page-title-color: #FFC2E6;
    --title-decor-bg-color: #FF8DCB;
    --title-decor-font-color: var(--accent-color);
    --content-text-color: var(--accent-color);
    --content-link-shadow-color: var(--title-decor-bg-color);
  }

  .page.theme_auto .header__decorative-item {
    display: none;
  }
}

.page.theme_light {
  --page-bg: #FFF1F7 url('../images/cover-image-light.png');
  --accent-color: #353430;
  --button-effect-color: rgb(50 49 45 / .4);
  --page-title-color: #FFC2E6;
  --title-decor-bg-color: #FF8DCB;
  --title-decor-font-color: var(--accent-color);
  --content-text-color: var(--accent-color);
  --content-link-shadow-color: var(--title-decor-bg-color);
}

.page.theme_light .header__decorative-item {
  display: none;
}
