/*
  переменные для темы, сверстанной первой (темная)
*/

/* mobile 👇🏻 */

:root {
  /* setup 👇🏻 */

  --page-padding: clamp(10px, 2.6vi, 20px);
  --normal-text: 400;
  --bold-text: 700;
  --page-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vi, 7.5rem);
  --page-title-line-height: 0.825;
  --page-title-shadow-color: #FF0070;

  /* layout 👇🏻 */

  --header-footer-min-height: 668px;
  --page-gap: 40px;
  --content-gap: 50px;
  --section-gap: 20px;
  --article-list-gap: 20px;
  --article-gap: 10px;


  /* theme 👇🏻 */

  --page-bg: #000028 url('../images/cover-image-dark.png');
  --accent-color: #FF0070;
  --button-effect-color: rgb(255 0 112 / .4);
  --page-title-color: #DB00FF;
  --title-decor-bg-color: var(--accent-color);
  --title-decor-font-color: #000028;
  --content-text-color: #F1B2CE;
  --content-link-shadow-color: var(--accent-color);
}

/* tablet 👇🏻 */

@media (768px <= width < 1024px) {

  :root {
    --header-footer-min-height: 1024px;
    --page-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-gap: 60px;
    --content-gap: 80px;
  }
}

/* desktop 👇🏻 */

@media (1024px <= width) {

  :root {
    --header-footer-min-height: 768px;
    --page-title-font-size: 157px;
    --page-gap: 60px;
    --content-gap: 80px;
  }
}
